@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
    font-family: "Poppins", sans-serif;
    
}

.container {
    margin: 0;
    padding-left: 80px;
    padding-right: 80px;
}

.logo {
    width: 150px;
}

.nav {
    display: flex;
    align-items:  center;
    justify-content: space-between;
}

.links {
    display: flex;
}

.links a {
    text-decoration: none;
    color: black;
    margin-right: 20px;
}

.donate a{
    color: #ffffff;
    background-color: #00a6ff;
    padding: 10px 20px;
    border-radius: 30px;
}

.hero {
    background-color: #E1F7FF;
    color: #3274CC;
    height: 60vh;
    padding-top: 90px;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.25);
}

.mt-10{
    margin-top: 20px;
}

.mt-20{
    margin-top: 20px;
}

.btn-1{
    text-decoration: none;
    color: white;
    background-color: #3274CC;
    padding: 10px 20px;
    border-radius: 30px;
}

.btn-2{
    text-decoration: none;
    color: #3274CC;
    border: solid 2px #3274CC;
    padding: 10px 20px;
    border-radius: 30px;
}

.hero-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

.content-1{
    display: flex;
    justify-content: center;
    gap: 55px;
}

.content-web {
    margin-top: 100px;
    margin-bottom: 100px;
}

.descrption {
        text-decoration: none;
        color: white;
        background-color: #3274CC;
        padding: 10px 20px;
        border-radius: 30px;
    }

.content-2 {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.center {
    text-align: center;
    padding-block: 30px;
}

.content-2 h1 { 
    margin: 0;
    font-size: medium;
    text-align: center;
    }

.content-2 p {
    width: 200px;
    height: 90px;
    align-items: center;
    text-align: center;
    font-size: small;
    padding-block: 20px;
}

.content-2 img {
    width: 100px;
    height: 100px;
    padding-top: 20px;
    padding-left: 50px;
}

.card-1 {
    border-radius: 10px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
}

.card-2 {
    border-radius: 10px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
}

.card-3 {
    border-radius: 10px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
}

.footer-web {
    margin-top: 100px;
    margin-bottom: 100px;
}